# REQUIRED
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
SECRET_KEY=

KAFKA_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_USER_PASSWORD=

EMAIL_TOKEN_SALT=


# OPTIONAL
ACCESS_TOKEN_EXPIRE_MINUTES=_
REFRESH_TOKEN_EXPIRE_DAYS=

OPENAI_API_KEY=
GROQ_API_KEY=

REDIS_HOST=
REDIS_PORT=
